<div class="footer-widget" role="contentinfo">

    <div class="footer-container wrapper">
        <div class="payment">
            <strong>PAYMENT</strong>
            <p class="membership-text">We accept payment in <span class="highlight">Scent Royal</span> on:</p>
       
            <div class="payments" aria-label="Payment Methods">
                <div class="payment-method" title="Visa">
                <img 
                    src="/img/payments/visa.png"
                    alt="Visa payment method logo with white background and blue text"/>
                </div>
                <div class="payment-method" title="PayPal">
                <img 
                    src="/img/payments/paypal.png"
                    alt="PayPal payment method logo with white background and dark blue text" />
                </div>
                <div class="payment-method" title="MasterCard">
                <img 
                    src="/img/payments/mastercard.png"
                    alt="MasterCard payment method logo with white background and red text"
                    class="mastercard-icon"
                />
                </div>
                <div class="payment-method" title="Gcash">
                    <img src="/img/payments/gcash.png" alt="Gcash payment method">
                </div>
            </div>
        </div>

        <div class="newsletter">
            <div class="newsletter-text">
                <strong>NEWSLETTER</strong>
                <p>Enter your email here to get the latest news and products from us.</p>
            </div>
        </div>

        <div class="newsletter-input">
            <form class="newsletter-input-group" role="form" aria-label="Sign up form">
                <input
                class="newsletter-input-text"
                type="email"
                placeholder="Your email..."
                aria-label="Your email"
                required
                />
                <button type="submit" class="newsletter-btn" aria-label="Sign up">SIGN UP</button>
            </form>
        </div>
        
        <div class="contact-us" aria-label="Contact Us Information">
            <strong>CONTACT US</strong>
            <p><strong>Address:</strong>Tunga-tunga Maasin City, Southern Leyte 6600</p>
            <p><strong>Email:</strong><a href="/">scentroyal@example.com</a></p>
            <p><strong>Phone:</strong>(329) 1833-2302 (485) 9127-6014</p>
        </div>

        <div class="updates" aria-label="New Updates">
            <strong>New Updates</strong>
            <div class="update-item">
                <div class="update-badge update-sale" aria-label="Sale">Sale</div>
                <div class="update-text">Sale-15% for All men's perfume from Jan 12 - 15</div>
            </div>
            <div class="update-item">
                <div class="update-badge update-new" aria-label="New">New</div>
                <div class="update-text">NewBig Sale up to 50% at this Christmas</div>
            </div>
        </div>

        <div class="nav-service">
            <nav class="nav" aria-label="Website Navigation Links">
                <strong>Navigation</strong>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>

            <nav class="services" aria-label="Our Services Links">
                <strong>Our Services</strong>
                <ul>
                    <li><a href="/">Orders Returns</a></li>
                    <li><a href="/">Search Terms</a></li>
                    <li><a href="/">Advanced Search</a></li>
                    <li><a href="/">Affiliates</a></li>
                    <li><a href="/">Wholesales</a></li>
                </ul>
            </nav>
        </div>

    </div>
    
</div>