<footer>
    <div id="footer-content" class="wrapper">
        <p>© Copyright 2025 Willpower - All Rights Reserved - Developed by SJC Students.</p>
        <div class="social-links">
            <ul>
                <li class="social-link">
                    <a href="/">
                        <img src="/img/facebook.png" alt="">
                    </a>
                </li>
                <li class="social-link">
                    <a href="/">
                        <img src="/img/instagram.png" alt="">
                    </a>
                </li>
                <li class="social-link">
                    <a href="/">
                        <img src="/img/twitter.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

    
</body>
</html>