<dialog id="add-to-cart-popup" class="popup-container">
    <div class="popup-content">
        <div class="checkmark-wrapper">
            <div class="checkmark"><i class="fa-solid fa-check"></i></div>
        </div>
        <div class="popup-textcontent-wrapper">
            <h3 class="popup-title">Item added to your cart</h3>
            <p class="popup-textcontent"><span class="items-in-cart">5</span> items in the cart (<span class="cart-total">1813.00</span>)</p>
        </div>
        <div class="popup-buttons-wrapper">
            <button class="button popup-button-continue-shopping" onclick="closePopup()">
                <span class="btn_text">CONTINUE SHOPPING</span>
            </button>
            <a href="/cart">
                <button class="button popup-button-go-to-cart" id="popup-button-go-to-cart">
                    <span class="btn_text">GO TO THE CART</span>
                </button>
            </a>
            
        </div>
    </div>
</dialog>