.popup-container {
        display: flex;
        justify-content: center; 
        min-height: 100vh;    
        position: fixed;     
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent overlay */
        z-index: 1000; /* Ensures it's above other content */
}

.popup-container.show {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    margin-top: 100px;
    background-color: #fff;
    width: 500px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.checkmark {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark i {
    color: #fff;
    font-size: 4rem;
}

.popup-title {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.popup-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.popup-buttons-wrapper button {
    min-width: 200px;
    padding:  24px 20px;
    font-size: 0.8rem;
}