<div class="contact-wrapper wrapper">
  <div class="contact-container">
  <div class="contact-info">
    <h2><img src="./img/contact.png" alt="" class="icon heading">Contact Info</h2>
    <div class="info-item"><img src="./img/address.png" alt="" class="icon info"><strong>Address:</strong> Tunga-tunga, Maasin City, Southern Leyte, 6600 PH</div>
    <div class="info-item"><img src="./img/call.png" alt="" class="icon info"><strong>Phone:</strong> 09855719910</div>
    <div class="info-item"><img src="./img/enve.png" alt="" class="icon info"><strong>Email:</strong> <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&ifkv=AdBytiPDTJfGtStAaqYif0YTdHGOf3LR3xpyP3sSyJINpqwmMFM9XEjLsuUX_boI3ob--e9TScQOYw&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S151680847%3A1755505572850190">scentroyal@support.com</a> </div>
    <div class="info-item"><img src="./img/skype.png" alt="" class="icon info"><strong>Skype:</strong> <a href="https://teams.live.com/free">scentroyal@pomerdesign.com</a></div>
    <div class="info-item"><img src="./img/web.png" alt="" class="icon info"><strong>Website:</strong> <a href="/">http://www.scentroyal.com</a></div>
  </div>
  <div class="map-section">
    <h2><img src="./img/address.png" alt="" class="icon heading">Location on Map</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d3927.5989667380913!2d124.83766700000001!3d10.131875000000017!3m2!1i1024!2i768!4f13.1!2m1!1sSaint%20Joseph%20College%20of%20Maasin!5e0!3m2!1sen!2sus!4v1753353952737!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>


<section class="contact-form">
  <h2><img src="./img/mssg.png" alt="" class="icon heading">Get in Touch<span class="note">(Please Enter Your Details Below To Complete Your Submit.)</span></h2>
  <form>
    <div class="form-group">
      <input type="text" placeholder="Your Name *" required>
      <input type="email" placeholder="Your Email *" required>
      <input type="text" placeholder="Subject">
    </div>
    <textarea placeholder="Message *" required></textarea>
    <button type="submit" class="send-button">Send Message</button>
  </form>
</section>
</div>
