<div class="login-container wrapper">
    <section id="lr-form" class="lr-container">
        <form id="loginform" class="lr-inner active">
            <div class="lr-inner-cont">  
                <div class="title"> 
                    <h2>Welcome Back</h2>
                    <p>Sign in to explore exquisite fragrances</p>
                </div> 

                <div id="login">
                    <div class="form-input">
                        <div class="input-field eml">
                            <div class="icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="input">
                                <input type="email" id="email" placeholder="Enter your email" required>
                            </div>
                            
                        </div>
                        
                        <div class="input-field pass">
                            <div class="icon">
                                <i class="fa-solid fa-lock"></i> 
                            </div>
                            <div class="input">
                                <input type="password" id="password" placeholder="Enter your password" required>
                            </div>  
                        </div>

                        <button type="submit" class="sign-in-btn bttn">Sign In</button>
                    </div>
                </div>

                <div class="create">
                    <p>Don't have an account? <button id="registerTab" class="create-btn" type="button" >Create One</button></p>
                </div>

            </div>
        </form>

        <form id="registerform" class="lr-inner">
            <div class="lr-inner-cont">
                <div class="title">
                    <h2>Create Account</h2>
                    <p>Join us to discover your signature scent</p>
                </div>

                <div id="register">
                    <div class="form-input">
                        <div class="input-field eml">
                            <div class="icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="input">
                                <input type="text" id="username" placeholder="Enter your username" required>
                            </div>
                        </div>

                        <div class="input-field eml em">
                            <div class="icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="input">
                                <input type="email" id="email" placeholder="Enter your email" required>
                            </div>
                        </div>

                        <div class="input-field pass">
                            <div class="icon">
                                <i class="fa-solid fa-lock"></i> 
                            </div>
                            <div class="input">
                                <input type="password" id="password" placeholder="Create a password" required>
                            </div>  
                        </div>

                        <button type="submit" class="sign-up-btn bttn">Create Account</button>

                        <div class="create">
                            <p>Already have an account? <button id="loginTab" class="create-btn" type="button">Sign In</button></p>
                        </div>

        </form>
    </section>
</div>