<div class="shop-container wrapper">
    <div class="grid-container">
    <ul class="grid">
        <% products.forEach(product => { %>
            <%- include('../partials/productCard', { product }) %>
        <% }) %>
    </ul>
</div>
</div>