<div class="wishlist-table wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Date Added</th>
          <th>Stock Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Row 1 -->
        <tr>
          <td><input type="checkbox"><button class="remove">×</button></td>
          <td>
            <img src="https://i.imgur.com/XaKDMTG.png" alt="Diesel Only The Brave" />
            <span>Diesel Only The Brave By Diesel For Men Edt Spray 4.2 Oz</span>
          </td>
          <td>$168.00</td>
          <td>22, 2025</td>
          <td>✔ In stock</td>
          <td><button class="select">SELECT OPTIONS</button></td>
        </tr>
        <!-- Row 2 -->
        <tr>
          <td><input type="checkbox"><button class="remove">×</button></td>
          <td>
            <img src="https://i.imgur.com/1DwHHDV.png" alt="Paco Rabanne" />
            <span>Paco Rabanne Pure XS Eau De Toilette 50ml Gift Set</span>
          </td>
          <td>$155.00</td>
          <td>22, 2025</td>
          <td>✔ In stock</td>
          <td><button class="select">SELECT OPTIONS</button></td>
        </tr>
        <!-- Row 3 -->
        <tr>
          <td><input type="checkbox"><button class="remove">×</button></td>
          <td>
            <img src="https://i.imgur.com/IQAXOVK.png" alt="Thierry Mugler" />
            <span>Thierry Mugler Alien Refillable Eau de Parfum Spray, 3 Ounce</span>
          </td>
          <td>$160.00</td>
          <td>22, 2025</td>
          <td>✔ 99989 in stock</td>
           <td><button class="select">SELECT OPTIONS</button></td>
        </tr>
        <!-- Row 4 -->
        <tr>
          <td><input type="checkbox"><button class="remove">×</button></td>
          <td>
            <img src="https://i.imgur.com/CIExFxj.png" alt="Christian Dior" />
            <span>Christian Dior Sauvage Eau De Parfum Spray For Men, Blue, 3.4 Ounce</span>
          </td>
          <td>$180.00</td>
          <td>22, 2025</td>
          <td>✔ In stock</td> 
          <td><button class="select">SELECT OPTIONS</button></td>

        </tr>
        <!-- Row 5 -->
        <tr>
          <td><input type="checkbox"><button class="remove">×</button></td>
          <td>
            <img src="https://i.imgur.com/duYZz6r.png" alt="Ajmal Regina" />
            <span>Ajmal Regina Floral Fruity Perfume 100ml For Women</span>
          </td>
          <td>$120.00 – $125.00</td>
          <td>22, 2025</td>
          <td>✔ 99992 in stock</td>
          <td><button class="select">SELECT OPTIONS</button></td>
        </tr>
      </tbody>
    </table>

    <div class="action-bar">
  <div class="left-group">
    <select>
      <option>Actions</option>
      <option>Add to Cart</option>
      <option>Remove</option>
    </select>
    <button class="add">APPLY ACTION</button>
  </div>

  <div class="right-group">
    <button class="add">ADD SELECTED TO CART</button>
    <button class="add">ADD ALL TO CART</button>
  </div>
</div>
</div>